In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/ai_usage.csv')

# DataFrame

OVERVIEW DATAFRAME

1. age : usia siswa dalam tahun

2. jenjang_pendidikan : tingkat pendidikan siswa saat ini (sekolah, perguruan tinggi).

3. rerata_jam_perhari : jumlah rata rata jam belajar siswa per hari.

4. penggunaan : menunjukkan apakah siswa menggunakan alat AI untuk tujuan belajar

5. tools_ai : jenia alat AI yang digunakan oleh siswa

6. tujuan : indikator kinerja akademik seperti nilai atau tingkat kinerja.

7. nilai_sebelum : nilai akademik siswa sebelum menggunakan alat AI.

8. nilai_sesudah : nilai akademik sesudah menggunakan alat AI.

9. rerata_waktu_perhari : rata-rata harian siswa dalam jam

MENGUBAH NAMA KOLOM DATAFRAME

In [ ]:
df.rename(columns={
    'education_level' : 'jenjang_pendidikan',
    'study_hours_per_day' : 'rerata_jam_perhari',
    'uses_ai' : 'penggunaan',
    'ai_tools_used' : 'tools_ai',
    'purpose_of_ai' : 'tujuan',
    'grades_before_ai' : 'nilai_sebelum',
    'grades_after_ai' : 'nilai_sesudah',
    'daily_screen_time_hours' : 'waktu_layar_harian'
 },inplace=True)

In [ ]:
df

,age,jenjang_pendidikan,rerata_jam_perhari,penggunaan,tools_ai,tujuan,nilai_sebelum,nilai_sesudah,waktu_layar_harian
0,19,college,1.4,No,NaN,NaN,62,62,3
1,15,school,3.9,Yes,Copilot,Research,56,61,2
2,15,school,1.9,Yes,Copilot,Homework,75,88,5
3,15,school,2.8,No,NaN,NaN,55,55,3
4,19,college,2.7,No,NaN,NaN,59,59,3
...,...,...,...,...,...,...,...,...,...
95,14,school,4.4,No,NaN,NaN,70,70,2
96,16,school,2.2,No,NaN,NaN,68,68,6
97,19,college,3.9,Yes,Gemini,Homework,63,74,5
98,14,school,2.6,No,NaN,NaN,60,60,5
99,15,school,4.9,Yes,Gemini,Coding,73,88,2

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 100 non-null    int64
 1   jenjang_pendidikan  100 non-null    object
 2   rerata_jam_perhari  100 non-null    float64
 3   penggunaan          100 non-null    object
 4   tools_ai            40 non-null     object
 5   tujuan              40 non-null     object
 6   nilai_sebelum       100 non-null    int64
 7   nilai_sesudah       100 non-null    int64
 8   waktu_layar_harian  100 non-null    int64
dtypes: float64(1), int64(4), object(4)
memory usage: 7.2+ KB

In [ ]:
df[['penggunaan', 'tools_ai','tujuan']]

   penggunaan tools_ai    tujuan
0          No      NaN       NaN
1         Yes  Copilot  Research
2         Yes  Copilot  Homework
3          No      NaN       NaN
4          No      NaN       NaN
..        ...      ...       ...
95         No      NaN       NaN
96         No      NaN       NaN
97        Yes   Gemini  Homework
98         No      NaN       NaN
99        Yes   Gemini    Coding

[100 rows x 3 columns]

In [ ]:
df['penggunaan'].value_counts()

penggunaan
No     60
Yes    40
Name: count, dtype: int64

In [ ]:
df[df['penggunaan']=='Yes'].head()

,age,jenjang_pendidikan,rerata_jam_perhari,penggunaan,tools_ai,tujuan,nilai_sebelum,nilai_sesudah,waktu_layar_harian
1,15,school,3.9,Yes,Copilot,Research,56,61,2
2,15,school,1.9,Yes,Copilot,Homework,75,88,5
6,16,school,3.4,Yes,Copilot,Research,72,78,5
8,19,college,1.3,Yes,Gemini,Homework,62,68,5
11,18,college,3.5,Yes,ChatGPT,Research,67,76,7

In [ ]:
df_ai=df[df['penggunaan']=='Yes'].copy()
df_ai.info()

<class 'pandas.core.frame.DataFrame'>
Index: 40 entries, 1 to 99
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   age                 40 non-null     int64
 1   jenjang_pendidikan  40 non-null     object
 2   rerata_jam_perhari  40 non-null     float64
 3   penggunaan          40 non-null     object
 4   tools_ai            40 non-null     object
 5   tujuan              40 non-null     object
 6   nilai_sebelum       40 non-null     int64
 7   nilai_sesudah       40 non-null     int64
 8   waktu_layar_harian  40 non-null     int64
dtypes: float64(1), int64(4), object(4)
memory usage: 3.1+ KB

In [ ]:
df_ai['jenjang_pendidikan'].unique()

array(['school', 'college'], dtype=object)

In [ ]:
df_ai['jenjang_pendidikan'].value_counts()

jenjang_pendidikan
school     20
college    20
Name: count, dtype: int64

Pada data siswa yang menggunakan AI, terdapat dua jenjang pendidikan, yaitu school dan college. Masing-masing jenjang memiliki jumlah responden yang sama, yaitu 20 siswa, sehingga analisis perbandingan antar jenjang dapat dilakukan secara seimbang

In [ ]:
df_ai['rerata_jam_perhari'].mean()

np.float64(2.83)

siswa yang menggunakan AI rata-rata durasi penggunaan sekitar 2.8 jam per hari, menunjukkan bahwa AI digunakan secara cukup intens dalam kegiatan akademik

In [ ]:
df_ai['tools_ai'].value_counts()

tools_ai
Copilot    14
Gemini     13
ChatGPT    13
Name: count, dtype: int64

In [ ]:
df_ai['tujuan'].value_counts()

tujuan
Research    14
Homework    13
Coding      13
Name: count, dtype: int64

In [ ]:
df_ai.groupby('tujuan')['delta_nilai'].agg(['count', 'mean', 'std'])

          count       mean       std
tujuan
Coding       13  10.000000  4.183300
Homework     13   9.153846  3.131724
Research     14  10.285714  3.451389

Analisis deskriptif berdasarkan tujuan penggunaan AI menunjukkan bahwa rata-rata kenaikan nilai relatif berbeda antar tujuan. Tujuan penggunaan AI untuk kegiatan research dan coding memiliki rata-rata peningkatan nilai yang sedikit lebih tinggi dibandingkan penggunaan AI untuk homework. Selain itu, penggunaan AI untuk homework menunjukkan variasi kenaikan nilai yang lebih kecil, yang mengindikasikan hasil yang lebih konsisten di antara siswa

In [ ]:
df_ai['delta_nilai'] = df_ai['nilai_sesudah'] - df_ai['nilai_sebelum']

In [ ]:
df_ai[['nilai_sebelum','nilai_sesudah','delta_nilai']].describe()

       nilai_sebelum  nilai_sesudah  delta_nilai
count       40.00000      40.000000    40.000000
mean        65.32500      75.150000     9.825000
std          6.49018       6.569354     3.551002
min         56.00000      61.000000     5.000000
25%         59.00000      71.750000     6.000000
50%         66.00000      76.000000     9.500000
75%         71.25000      78.500000    13.250000
max         75.00000      89.000000    15.000000

Berdasarkan analisis deskriptif terhadap 40 siswa yang menggunakan AI, rata-rata nilai akademik meningkat dari 65,33 sebelum penggunaan AI menjadi 75,15 setelah penggunaan AI. Rata-rata peningkatan nilai sebesar 9,83 poin dengan seluruh siswa mengalami kenaikan nilai, yang mengindikasikan adanya kecenderungan positif penggunaan AI terhadap kinerja akademik

In [ ]:
df_ai[['rerata_jam_perhari', 'waktu_layar_harian', 'delta_nilai']].describe()

       rerata_jam_perhari  waktu_layar_harian  delta_nilai
count           40.000000           40.000000    40.000000
mean             2.830000            4.475000     9.825000
std              1.184342            1.853444     3.551002
min              1.200000            2.000000     5.000000
25%              1.750000            3.000000     6.000000
50%              2.650000            5.000000     9.500000
75%              3.900000            6.000000    13.250000
max              4.900000            7.000000    15.000000

Berdasarkan analisis deskriptif, rata-rata siswa menggunakan AI selama 2,83 jam per hari dengan waktu layar harian sebesar 4,48 jam. Kenaikan nilai akademik tidak menunjukkan peningkatan yang sebanding dengan durasi penggunaan AI maupun waktu layar harian. Hal ini mengindikasikan bahwa peningkatan kinerja akademik lebih dipengaruhi oleh cara dan tujuan penggunaan AI dibandingkan lamanya waktu penggunaan